body {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    margin: 0;
    background-color: #f8f9fa; /* Light gray background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
}

#userList {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    background: #fff; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}

#details {
    flex: 2;
    background: #fff; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}

button, .favorite, .message {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #007bff; /* Blue button */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover, .favorite:hover, .message:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.userInfo {
    padding: 5px;
}

.userField {
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
    color: #555; /* Dark gray label */
    display: inline-block;
    width: 100px;
}

.value {
    color: #333; /* Darker gray value */
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.favorite, .message {
    flex: 1;
    margin-left: 5px;
    text-align: center;
}

.details-heading {
    color: #9CADE3; /* Blue heading */
    margin-bottom: 10px;
}

.details-content {
    margin-bottom: 20px;
}